@page
@model CategoriesModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Categories";

    var skipId = ViewData["SkipId"];
    var url = "";

    if (skipId != null)
    {
        int skipInt = Convert.ToInt16(skipId);
        skipInt = skipInt + 10; 
        url = "/Categories/?SkipId=" + skipInt;
    }
    else
    {
        url = "/Categories/?SkipId=" + 10;
    }
}

<div class="text-center">
    <h1 class="display-4">Search by Category</h1> 

    <form method="post">
        <input type="text" asp-for="@Model.Search!.SearchTerm" placeholder="Search by name"/>
       <input type="submit" />
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Volume
                </th>
                <th>
                    Market Cap
                </th>
                <th>
                    Market Cap Change
                </th>
                <th>
                    Num. Tokens
                </th>
            </tr>
        </thead>
        @if (Model.Categories != null)
	    {
            @if (Model.Categories.Count > 1)
            {
                @foreach (Entities.Category category in Model.Categories)
                {
                    <tbody>
                        <tr>
                            <td><a href="/Category?CategoryId=@category.CategoryId">@category.CategoryName</a></td>
                            <td>@category.Volume</td>
                            <td>@category.MarketCap</td>
                            <td>@category.MarketCapChange</td>
                            <td>@category.NumTokens</td>
                        </tr> 
                    </tbody>
                }
            }
        }
        else
        {
            @if (Model.filteredCategories != null)
	        {
                @foreach (Entities.Category category in Model.filteredCategories) 
                {
                    <tbody>
                            <tr>
                                <td>@category.CategoryName</td>
                                <td>@category.Volume</td>
                                <td>@category.MarketCap</td>
                                <td>@category.MarketCapChange</td>
                                <td>@category.NumTokens</td>
                            </tr>
                    </tbody>
                }
            }
        }
    </table>
    @if (Model.filteredCategories == null)
    {
        <a href="@url" class="btn btn-primary">Next</a>
    }
</div>
