@page
@using Microsoft.AspNetCore.Identity
@using ASPdemo.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PortfolioModel
@{
    ViewData["Title"] = "My Portfolio";
}

<div class="text-center">
    <h1 class="display-4">@User.Identity.Name's Portfolio</h1>
    <h1 class="display-4">Value: $@Model.currentUser?.Portfolio?.PortfolioValue</h1>

    <form method="post" asp-page-handler="AddCurrency">
        <div class="form-group">
            <label for="currencyName">Currency Name:</label>
            <input type="text" id="currencyName" name="CurrencyName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Currency</button>
    </form>

    @if (Model.currentUser?.Portfolio != null && Model.currentUser?.Portfolio.Currencies.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>24h %</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var currency in Model.currentUser.Portfolio.Currencies)
                {
                    <tr>
                        <td>@currency.CurrencyName</td>
                        <td>@currency.Price</td>
                        <td>@currency.PercentChange24Hr</td>
                        <td>
                            <form method="post" asp-page-handler="RemoveCurrency" asp-route-currencyName="@currency.CurrencyName">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No currencies added yet.</p>
    }
</div>
